/* MOVETOTOP */
#scrollUp { visibility:hidden; opacity: 0; transition: all 350ms ease;text-indent:-9999px; overflow:hidden; } #scrollUp:hover {opacity: .8;}
.scrollup #scrollUp {opacity:1; visibility: visible;}
